<div class="page-header">
  <h1>Current ENV configuration: </h1>
</div>

<dl class="dl-horizontal ngin-env">
  <dt>SUBLEDGER_KEY_ID</dt>
  <dd><%= ENV['SUBLEDGER_KEY_ID'] %></dd>

  <dt>SUBLEDGER_SECRET</dt>
  <dd><%= ENV['SUBLEDGER_SECRET'] %></dd>

  <dt>SUBLEDGER_ORG_ID</dt>
  <dd><%= ENV['SUBLEDGER_ORG_ID'] %></dd>

  <dt>SUBLEDGER_BOOK_ID</dt>
  <dd><%= ENV['SUBLEDGER_BOOK_ID'] %></dd>

  <dt>SUBLEDGER_REVENUE_ACCOUNT_ID</dt>
  <dd><%= ENV['SUBLEDGER_REVENUE_ACCOUNT_ID'] %></dd>

  <dt>SUBLEDGER_CASH_ACCOUNT_ID</dt>
  <dd><%= ENV['SUBLEDGER_CASH_ACCOUNT_ID'] %></dd>

  <dt>SUBLEDGER_AR_CATEGORY_ID</dt>
  <dd><%= ENV['SUBLEDGER_AR_CATEGORY_ID'] %></dd>

  <dt>SUBLEDGER_AP_CATEGORY_ID</dt>
  <dd><%= ENV['SUBLEDGER_AP_CATEGORY_ID'] %></dd>
</dl>

<a href="<%= "http://subledger.com/app/?key=#{ENV['SUBLEDGER_KEY_ID']}&secret=#{ENV['SUBLEDGER_SECRET']}&org=#{ENV['SUBLEDGER_ORG_ID']}&book=#{ENV['SUBLEDGER_BOOK_ID']}" %>" target="_blank">Open Subledger App</a>
