<h1>Simulate a Merchant Payout</h1>

<%= form_for :payout, url: simulate_payout_path do |f| %>
  <div class="form-group">
    <%= f.label :transaction_id %>
    <%= f.text_field :transaction_id, class: "form-control", placeholder: "Ex: 1", autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :merchant_id %>
    <%= f.text_field :merchant_id, class: "form-control", placeholder: "Ex: merchant1@test.com", required: true%>
  </div>

  <div class="form-group">
    <%= f.label :amount %>
    <%= f.text_field :amount, class: "form-control", placeholder: "Ex: 100", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control", placeholder: "Ex: Merchant 1 Payout" %>
  </div>

  <div class="form-group">
    <%= f.label :reference_url %>
    <%= f.url_field :reference_url, class: "form-control", placeholder: "Ex: http://www.atpay.com/merchant/1/payout/2", required: true %>
  </div>
  
  <%= f.submit "Payout", class: "btn btn-default" %>
<% end %>
