<h1>Simulate Payout Referrer</h1>

<%= form_for :payout, url: payout_referrer_path do |f| %>
  <div class="form-group">
    <%= f.label :transaction_id %>
    <%= f.text_field :transaction_id, class: "form-control", placeholder: "Ex: 1", autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :referrer_id %>
    <%= f.text_field :referrer_id, class: "form-control", placeholder: "Ex: referrer1@test.com", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :payout_amount %>
    <%= f.text_field :payout_amount, class: "form-control", placeholder: "Ex: 100", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control", placeholder: "Ex: January 2014 Payout" %>
  </div>

  <div class="form-group">
    <%= f.label :reference_url %>
    <%= f.url_field :reference_url, class: "form-control", placeholder: "Ex: http://getgranular.com/referrer/1/payout/16", required: true %>
  </div>
  
  <%= f.submit "Pay", class: "btn btn-default" %>
<% end %>
