<h1>App Initial Setup</h1>

<div class="alert alert-info">
  <strong>Heads Up!:</strong> This page will help with the initial app setup process.
  </br>Please, fill the following fields and click the 'Setup' button.
</div>

<%= form_for :setup, url: setup_path do |f| %>
  <fieldset>
    <legend>Subledger Config</legend>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control", placeholder: "Ex: email@domain.com.br", autofocus: true, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :identity_desc %>
      <%= f.text_field :identity_desc, class: "form-control", placeholder: "Ex: Test App", required: true%>
    </div>

    <div class="form-group">
      <%= f.label :org_desc %>
      <%= f.text_field :org_desc, class: "form-control", placeholder: "Ex: Test Org", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :book_desc %>
      <%= f.text_field :book_desc, class: "form-control", placeholder: "Ex: Test Book" %>
    </div>
  </fieldset>

  <%= f.submit "Setup", class: "btn btn-default" %>
<% end %>
